{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock link %}

{% block content %}
<form class="form-group" action="/login" method="post">
    {% csrf_token %}
    {{ report }}
    <p>
        <label for="login_field">Login</label>
        <input id="login_field" name="login_field" type="text" placeholder="Введите логин">
    </p>
    <p>
        <label for="password_field">Password</label>
        <input id="password_field" name="password_field" type="password" placeholder="Введите пароль">
    </p>

    <input id="submit" type="submit" value="Send" class="button">
    <input type="reset" value="Clear" class="button">
</form>
{% endblock content %}
