
nav{
    background: black;
    color: greenyellow;
    height: 100px;
    padding: 10px;
    margin: 0 20px 20px 20px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}


.big_link{
    position: relative;
    display: inline-block;
    background-color: green;

    padding: 3px;
    padding-top: 55px;
    border-radius: 4px;
    margin-top: 5px;

    width: 20%;
    height: 100px;
    color: white;
    text-decoration: none;
}
.big_link a{
    cursor: pointer;
    text-decoration: none;
    color: white;

}

.delete_group{
    display: inline-block;
    position: absolute;
    background-color: red;
    color: white;
    text-decoration: none;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
}

.update_group{
    display: inline-block;
    position: absolute;
    background-color: darkgoldenrod;
    color: white;
    text-decoration: none;
    top: 0;
    left: 0;
    height: 25px;
    padding: 2px 3px;
}


nav .links a{
    display: inline-block;
    background-color: lightgreen;
    text-decoration: none;
    color: darkgreen;
    padding: 3px;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
}


img{
    opacity: 50%;
}
body{

    background: repeating-linear-gradient( 45deg, #ffff0020 10px, #22222205 20px, #22558810 20px, #22558810 30px );
    /*background: url('../img/latest-post-5-img.png')*/
    /*как добраться до других статических файлов из css*/

}
.container{
    background: #11331110;
    /*background-color: rgba(11, 33, 11, 10%);*/
    color: black;
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px;
}
footer{
     background: black;
    color: greenyellow;
    height: 30px;
    padding: 10px;
    margin: 30px 20px 20px 20px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

