.form-group{
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
    border: black solid 1px;
    border-radius: 5px;
    background-color: #f2ff5e50;
    padding: 15px 5px;
}

.form-group .button{
    background-color: dimgray;
    color: orange;
    border-radius: 2px;
    border: none;
    padding: 3px;
    width: 20%;
}
