{% extends 'base.html' %}
{% load static %}

{% block title %}
    Создание группы
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock link %}

{% block img_logo %}

{% endblock img_logo %}

{% block content %}

<h1>Создать Группу:</h1>


<form class="form-group" id="create-group" method="post" action="{% url 'create_group' %}">
    {% csrf_token %}
    Form to add group

    {% for field in group_form %}
    <p>
        {{ field.label_tag }} {{ field }}
    </p>
    {% endfor %}

    <input id="submit" type="submit" value="Send" class="button">
    <input type="reset" value="Clear" class="button">


</form>

{% endblock content %}
