{% extends 'base.html' %}
{% load static %}

{% block title %}
 Изменить Группу
{% endblock title %}

{% block img_logo %}

{% endblock img_logo %}

{% block content %}

<h1>Изменить Группу:</h1>


<form class="form-group" id="create-group" method="post" action="{% url 'update_group' group.id  %}">
    {% csrf_token %}
    Form to add group

    {% for field in group_form %}
    <p>
        {{ field.label_tag }} {{ field }}
    </p>
    {% endfor %}

    <input id="submit" type="submit" value="Send" class="button">
    <input type="reset" value="Clear" class="button">


</form>

{% endblock content %}
